/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.bg-dark');
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.text-muted-dark');
    border-radius: 4px;
}

div { 
    padding-top:0 !important;
}

@font-face {
    font-family: 'SDGlitch';
    src: url('/fonts/SdglitchdemoRegular-YzROj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CyberwayRiders';
    src: url('/fonts/CyberwayRiders-lg97d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px theme("colors.primary-dark");
  }
}