/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.bg-dark');
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.text-muted-dark');
    border-radius: 4px;
}

div { 
    padding-top:0 !important;
}

@font-face {
    font-family: 'SDGlitch';
    src: url('/fonts/SdglitchdemoRegular-YzROj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CyberwayRiders';
    src: url('/fonts/CyberwayRiders-lg97d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px theme("colors.primary-dark");
  }
}

.loader {
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 15px 0 theme('colors.bg-dark'), -15px 0 theme("colors.primary-dark");background: theme('colors.bg-dark') }
      33% {box-shadow: 15px 0 theme('colors.bg-dark'), -15px 0 theme("colors.primary-dark");background: theme("colors.primary-dark")}
      66% {box-shadow: 15px 0 theme("colors.primary-dark"),-15px 0 theme('colors.bg-dark'); background: theme("colors.primary-dark")}
      100%{box-shadow: 15px 0 theme("colors.primary-dark"),-15px 0 theme('colors.bg-dark'); background: theme('colors.bg-dark') }
  }