/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: theme('colors.bg-dark');
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.text-muted-dark');
    border-radius: 4px;
}

